<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <h1 id="project_title">
              <a style="color:#fff" href="{{site.baseurl}}/index">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          <h3> <!-- <a href="{{site.baseurl}}/about">About</a>&emsp;-->
               <a href="{{site.baseurl}}/education">Education</a>&emsp;
               <!-- <a href="{{site.baseurl}}/work">Work</a>&emsp;-->
               <a href="{{site.url}}/download/erikthorsell_cv.pdf">Resume</a>&emsp;
               <a href="{{site.baseurl}}/guides">Guides</a>&emsp;
               <a href="{{site.baseurl}}/notes">School Material</a>&emsp;
               <a href="{{site.baseurl}}/contact">Contact</a>
          </h3>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Contact me on: &emsp;
        <a target="_blank" href="https://linkedin.com/in/thorsellerik">
            <img src={{site.url}}/logos/linkedin.png width=64 height=64>
        </a>&emsp;
        <a target="_blank" href="https://twitter.com/erikthorsell">
            <img src={{site.url}}/logos/twitter.png width=64 height=64>
        </a>&emsp;
        <a target="_blank" href="https://github.com/erikthorsell">
            <img src={{site.url}}/logos/github.png width=64 height=64>
        </a>&emsp;
        <a target="_blank" href="mailto:erik@thorsell.cc">
            <img src={{site.url}}/logos/email.png width=64 height=64>
        </a>
        </p>
      </footer>
    </div>

  </body>
</html>

